/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
/* background-color: #242424; */
/*  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

@font-face {
  font-family: Niconne;
  src: url(../fonts/Niconne-Regular.ttf);
}
@font-face {
  font-family: InstrumentSerif-italic;
  src: url(../fonts/InstrumentSerif-Italic.ttf);
}
@font-face {
  font-family: InstrumentSerif-Regular;
  src: url(../fonts/InstrumentSerif-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.scroll::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;
  background-color: rgb(207, 196, 196);
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.scroll::-webkit-scrollbar-thumb {
  background-color: rgb(74, 74, 78);
  transition: 0.5s ease-in-out;
}
.scroll::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
}
.scroll::-webkit-scrollbar-button {
  background-color: rgb(205, 191, 191);
}

/* hompage CSS */

@keyframes homepage {
  from {
    clip-path: polygon(21% 41%, 83% 46%, 83% 66%, 20% 67%);
    opacity: 0.5;
  }
  to {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  /* 0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  } */
}

.homepage-box {
  /* animation: homepage 0.5s linear; */
  animation: homepage 3s ease-in-out alternate;
}

/* About Tab CSS */

@keyframes box-animation {
  from {
    /* transform: translateY(-1000px); */
    clip-path: polygon(47% 48%, 53% 46%, 54% 50%, 46% 51%);
  }
  to {
    /* transform: translateY(0px); */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.box {
  background-color: rgb(232, 230, 230);
  border-radius: 10px;
  animation: box-animation 2.5s ease-in-out alternate;
}

.about-section-avatar {
  animation: box-animation 2.5s ease-in-out;
  animation: ava 1.5s ease-in-out infinite alternate-reverse;
  border-top-left-radius: 30% !important;
  border-bottom-right-radius: 30% !important;
  border-top-right-radius: 4% !important;
  border-bottom-left-radius: 4% !important;
  box-shadow: 10px 10px 1.5 red !important;
  border-width: 100px;
  transition: 0.5s ease-in-out;
}
.about-section-avatar:hover {
  scale: 0.8;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 30% !important;
  border-bottom-left-radius: 30% !important;
}

@keyframes ava {
  from {
    translate: -0 -4px;
  }
  to {
    translate: 0 4px;
  }
}
.about-section-avatar:hover::before {
  display: block;
}

@keyframes divider {
  from {
    opacity: 0;
    transform: scale(-3.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.divider-about-tab {
  animation: divider 3.5s ease alternate;
  transition: 0.5s ease-in-out;
}

@keyframes email {
  from {
    transform: translate(1000px) rotate(45deg);
  }
  to {
    transform: translate(0px) rotate(0deg);
  }
}

@keyframes email {
  from {
    transform: translate(-1000px) rotate(-45deg) scale(2);
  }
  to {
    transform: translate(0px) rotate(0deg) scale(1);
  }
}
@keyframes phone-number {
  from {
    transform: translate(1000px) rotate(45deg) scale(2);
  }
  to {
    transform: translate(0px) rotate(0deg) scale(1);
  }
}
@keyframes city {
  from {
    transform: translate(-1000px) rotate(-45deg);
  }
  to {
    transform: translate(0px) rotate(0deg);
  }
}
@keyframes age {
  from {
    transform: translate(1000px) rotate(45deg);
  }
  to {
    transform: translate(0px) rotate(0deg);
  }
}
@keyframes fullname {
  from {
    transform: translate(-1000px) rotate(-45deg);
  }
  to {
    transform: translate(0px) rotate(0deg);
  }
}

.typo-email {
  animation: email 4.5s ease alternate;
}

.typo-phone-number {
  animation: phone-number 5.5s ease;
}

.typo-city {
  animation: city 6.5s ease;
}

.typo-age {
  animation: age 7.5s ease;
}

.typo-fullname {
  animation: fullname 8.5s ease;
}
.typo {
  transition: 0.3s ease-in-out;
}

.typo:hover {
  translate: 10px;
  background-color: rgb(213, 211, 211);
  border-radius: 10px;
  cursor: pointer;
}

@keyframes skills {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.skill-box {
  animation: skills 1s ease-in;
}

.skill-hover {
  transition: linear 0.4s;
}

.skill-hover:hover {
  transform: translate(4px);
  background-color: rgb(229, 227, 227);
  border-radius: 15px;
  padding: 4px;
}

/* Drawer CSS */

@keyframes drawer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.MuiDrawer-paper {
  animation: drawer 0.6s linear;
}

@keyframes drawerContent {
  from {
    translate: -500px;
  }
  to {
    translate: 0px;
  }
}

.MuiTab-root {
  animation: drawerContent 0.9s ease-in-out;
}

@keyframes avatar {
  from {
    translate: 0px -1000px;
  }
  to {
    translate: 0px 0px;
  }
}
.avatar-section {
  animation: avatar 0.9s ease-in-out;
}

/* copyright Section CSS */

@keyframes copyright {
  from {
    translate: 0px 1000px;
  }
  to {
    translate: 0px 0px;
  }
}
.copyright-section {
  animation: copyright 0.9s ease-in-out;
}

/* Resume Section */

.timeline-item:hover {
  color: rgb(169, 42, 42);
  translate: -1px 1px;
  cursor: context-menu;
}

@keyframes resume {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Resume-box {
  animation: resume 0.9s linear;
}

.typoColor {
  color: rgb(0, 0, 0);
  font-style: italic;
  font-weight: bolder !important;
}
.Mui-error {
  color: rgb(255, 89, 0) !important;
}
